.nav-list-container{
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
}

.nav-list-container li{
    padding: 1vw;
    margin: 0.2vw;
    background-color: #282F33;
    color: #E0EFF1;
    border-radius: 4px;
    cursor: pointer;
}

.nav-list-container li:hover, .nav-list-container li.active{
    background-color: #48D9F3;
    color: #273133;
}